body {
	background: url("../img/bg.png");
	padding: 50px;
	}

.globalnav {
	background: url("../img/nav.jpg");
	left: 0;
	line-height: 5px;
	position: fixed;
	top: 0;
	white-space: nowrap;
	width: 100%;
}

 h1 {
	color: white;
	font-family: 'Averia Sans Libre', cursive;
	
	/* height: 50px;
	line-height: 50px;
	text-align: center;
	margin: 0; */

}

.nav {
	color: white;
	height: 50px;
	margin: 16px 0;
	padding-left: 40px;
}

ul.nav li {
	display: inline-block;
	padding: 0 30px;
	margin: 0 10px;
}

.rfloat {
	float: right;
	margin: 0;
}

img {
	width: 400px;
	height: 550px;
	
}


h2 {
	color: white;
	padding-left: 15px;
	font-family: 'Averia Sans Libre', cursive;

	/* width: 500px;
	height: 40px;
	line-height: 40px; */

}

h3 {
	color: white;
	padding-left: 15px;
	font-family: 'Averia Sans Libre', cursive;


	width: 500px;
	height: 40px;
	line-height: 40px;
}

p {
	color: white;
	margin-left: 18px;
	font-family: 'Averia Sans Libre', cursive;
	font-size: 16px;
}

ul {
	padding-left: 0;
	margin-left: 18px;

	font-size: 16px;
	font-family: 'Averia Sans Libre', cursive;
}

 li {
 	color: white;
 	list-style: none;
 }

 
 a {
  	text-decoration: none;

  }

a:link {
  	color: white;
  }

a:hover {
	font-size: 18px;
}

a:visited {
  	color: lightblue;
  }