body {
	background: url("../img/mocha.png");
	font-family: 'Alice', serif;
	}

.title {
	background: url("../img/white.png");
	border: 10px solid #2E1F47;
	border-radius: 5px;
	margin: 40px 0;
	font-size: 2.5em;
	font-family: 'Merienda', cursive;
	color: #1E1C45;
	text-align: left;
	}
h1, h2 {
		font-weight: normal;
		color: #2e1f47;
		font-family: 'Paprika', cursive;
		text-align: center;
	}

h6, p {
	text-align: center;
	margin: 40px 0;

	color: #1e1c45;
}

figure {
	margin: 0;
	}

ul {
	list-style: none;
		padding: 0;
		font-family: 'Alice', serif;
    
	}

a img {
	border: none;
	}


.logo {
	float: left;

	margin: 0 3%;
	height: 200px;
	width: 200px;

	background: url("../img/white.png");
	border: 10px solid #2E1F47;
	border-radius: 5px;
}

	/*Navigation*/
   
#navbar ul {
	width: 60%;
	margin: 1% 0 3% 5%;
	list-style: none;

	list-style: none;
	padding: 0;
  	display: inline-block;
		}

	#navbar ul li {
	color: #1e1c45;
	background: #6B90CA;
  	float: left;
 	display: list-item;
 	margin: 2% 5%;
 	font-family: 'Merienda', cursive;

 	height: 25px;
	width: 95px;
	text-align: center;
	border-radius: 20px 5px;
	box-shadow: -3px 3px 3px #1E1C45, 
	inset 1px 1px 1px #7FABF0;
	border-bottom-color: #334561;
	}

#navbar ul li a {
	color: #1e1c45;
	display: inline-block;
	text-decoration: none;
	}

	#navbar ul li.home {
		width: 15%;
	}
	#navbar ul li.bio {
		width: 15%;
	}
	#navbar ul li.portfolio {
		width: 15%;
	}
	#navbar ul li.contact {
		width: 15%;
	} 

	/* Pseudo-classes*/

	#navbar ul li a:hover,
	 #navbar ul li a:active {
		color: #334561;
		font-size: 1.25em;

	}
/*

 h1 {
	color: white;
	font-family: 'Averia Sans Libre', cursive;
	
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin: 0;

}

img {
	width: 400px;
	height: 550px;
	
}


h2 {
	color: white;
	padding-left: 15px;
	font-family: 'Averia Sans Libre', cursive;

	

}

h3 {
	color: white;
	padding-left: 15px;
	font-family: 'Averia Sans Libre', cursive;


	width: 500px;
	height: 40px;
	line-height: 40px;
}

p {
	color: white;
	margin-left: 18px;
	font-family: 'Averia Sans Libre', cursive;
	font-size: 16px;
}

ul {
	padding-left: 0;
	margin-left: 18px;

	font-size: 16px;
	font-family: 'Averia Sans Libre', cursive;
}

 li {
 	color: white;
 	list-style: none;
 }

 
 a {
  	text-decoration: none;

  }

a:link {
  	color: white;
  }

a:hover {
	font-size: 18px;
}

a:visited {
  	color: lightblue;
  }

  */