body {
	background: url("../img/bg.png");
	padding: 50px;
	}

 /*.color-bg {
	background: rgba(185, 187, 141, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 3000px;
} */

h1 {
	background: #263044;
	color: white;
	font-family: 'Marko One', serif;

	border-radius: 50px;
	width: 400px;
	height: 100px;

	line-height: 100px;
	text-align: center;

}

img {
	width: 510px;
	height: 700px;
}


h2 {
	color: white;
	padding-left: 15px;
	font-family: 'Averia Sans Libre', cursive;

	width: 500px;
	height: 40px;
	line-height: 40px;
}

h3 {
	color: white;
	padding-left: 15px;
	font-family: 'Averia Sans Libre', cursive;


	width: 500px;
	height: 40px;
	line-height: 40px;
}

p {
	color: white;
	margin-left: 18px;
	font-family: 'Averia Sans Libre', cursive;
	font-size: 16px;
}

ul {
	padding-left: 0;
	margin-left: 18px;

	font-size: 16px;
	font-family: 'Averia Sans Libre', cursive;
}

 li {
 	color: white;
 	list-style: none;
 }

  a {
  	text-decoration: none;

  }