body {
	background: url("../img/bg.png");
	padding: 50px;
	}

 /*.color-bg {
	background: rgba(185, 187, 141, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 3000px;
} */

h1 {
	background: #263044;
	color: white;
	padding-left: 15px;

	border-radius: 30px;
	width: 400px;
	height: 100px;

	line-height: 100px;
	text-align: center;

}


h2 {
	background: #263044;
	color: white;
	padding-left: 15px;

	width: 500px;
	height: 40px;
	line-height: 40px;
}

h3 {
	background: #263044;
	color: white;
	padding-left: 15px;


	width: 500px;
	height: 40px;
	line-height: 40px;
}

p {
	color: white;
	margin-left: 10px;
}

ul {
	padding-left: 0;
	margin-left: 10px; 
}

 li {
 	color: white;
 	list-style: none;
 }

  a {
  	text-decoration: none;
  }