body {
	background: url("../img/bg.png");
	padding: 50px;
	}

.navbar {
	background: url("../img/nav.jpg");
	left: 0;
	top: 0;
	line-height: 5px;
	position: fixed;
	/*white-space: nowrap; */
	width: 100%;
	z-index: 10;

	padding: 20px 20px 0 0;
	margin: 0;
}

 h1 {
	color: white;
	font-family: 'Averia Sans Libre', cursive;
	
	height: 50px;
	line-height: 50px;
	text-align: center;

}

img {
	width: 400px;
	height: 600px;
	
}


h2 {
	color: white;
	padding-left: 15px;
	font-family: 'Averia Sans Libre', cursive;

	/* width: 500px;
	height: 40px;
	line-height: 40px; */

}

h3 {
	color: white;
	padding-left: 15px;
	font-family: 'Averia Sans Libre', cursive;


	width: 500px;
	height: 40px;
	line-height: 40px;
}

p {
	color: white;
	margin-left: 18px;
	font-family: 'Averia Sans Libre', cursive;
	font-size: 16px;
}

ul {
	padding-left: 0;
	margin-left: 18px;

	font-size: 16px;
	font-family: 'Averia Sans Libre', cursive;
}

 li {
 	color: white;
 	list-style: none;
 }

 
 a {
  	text-decoration: none;

  }

a:link {
  	color: white;
  }

a:hover {
	font-size: 20px;
}

a:visited {
  	color: lightblue;
  }