body {
	background: url("../img/bg.png");
	}

 /*.color-bg {
	background: rgba(185, 187, 141, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 3000px;
} */

h1 {
	background: #081838;
	color: white;
	width: 400px;
	height: 100px;
	line-height: 100px;

}

h2 {
	background: #081838;
	color: white;
	width: 500px;
	height: 40px;
	line-height: 40px;
}

h3 {
	background: #081838;
	color: white;
	width: 500px;
	height: 40px;
	line-height: 40px;
}

p {
	color: white;
}
 li {
 	color: white;
 }