body {
	background: url("../img/bg.png");
	padding: 50px;
	}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width:100%;
	background: #212124;
	line-height: 5px;
	white-space: nowrap;
	min-width: 30px;
}

 h1 {
	color: white;
	font-family: 'Averia Sans Libre', cursive;

	border-radius: 50px;
	width: 400px;
	height: 100px;

	line-height: 100px;
	text-align: center;

}

img {
	width: 510px;
	height: 700px;
	
}

/* .float {
	float: right;

	
} */

h2 {
	color: white;
	padding-left: 15px;
	font-family: 'Averia Sans Libre', cursive;

	/* width: 500px;
	height: 40px;
	line-height: 40px; */

}

h3 {
	color: white;
	padding-left: 15px;
	font-family: 'Averia Sans Libre', cursive;


	width: 500px;
	height: 40px;
	line-height: 40px;
}

p {
	color: white;
	margin-left: 18px;
	font-family: 'Averia Sans Libre', cursive;
	font-size: 16px;
}

ul {
	padding-left: 0;
	margin-left: 18px;

	font-size: 16px;
	font-family: 'Averia Sans Libre', cursive;
}

 li {
 	color: white;
 	list-style: none;
 }

 
 a {
  	text-decoration: none;

  }

  a:link {
  	color: white;
  }

  a:visited {
  	color: lightblue;
  }